.page-enter{
animation:fadeIn 0.7s ease;
}

.page-exit{
animation:fadeOut 0.4s ease;
}

@keyframes fadeIn{
from{
opacity:0;
transform:translateY(20px);
filter:blur(6px);
}
to{
opacity:1;
transform:none;
filter:none;
}
}

@keyframes fadeOut{
to{
opacity:0;
transform:translateY(-10px);
filter:blur(4px);
}
}

/* LOADER */

#loader{
position:fixed;
width:100%;
height:100%;
background:white;
display:flex;
align-items:center;
justify-content:center;
z-index:999;
transition:1s;
}

.loader-hide{
opacity:0;
pointer-events:none;
}

.loader-heart{
font-size:40px;
animation:float 2s infinite ease-in-out;
}

@keyframes float{
50%{ transform:translateY(-12px);}
}
